html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

:root {
    --black: #000000;
    --grey: #e1e1e1;
    --ocean-boat-blue: #037BC0;
}
/*Globales*/
a {
    text-decoration: none;
}
.container {
     max-width: 1200px;
}
/*Header y Navegación*/
.nombre-sitio {
    margin: 50px 0;
    text-align: center;
}
.nombre-sitio span {
    color: var(--ocean-boat-blue);
}
.nav-container {
    border-top: 1px solid var(--grey);
}
.nav-principal {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.hero {
    background-image: url(../img/principal.jpg);
    height: 550px;
}